.main-page {
    padding-left: 120px;
}

.title {
    /*padding-top: 10px;*/
    /*padding-bottom: 10px;*/
    font-size: 20px;
    /*color: #626262;*/
    color: #3c8d28;
    text-transform: uppercase;
    margin-bottom: 20px;
    /*font-family: 'Ubuntu', sans-serif;*/
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.projects .col {
    padding-right: 35px;
}

.projects a {
    color: #000;
}

.research_papers a {
    color: #000;
}

.card-title {
	font-weight: 500 !important;
}

.card-tags {
    font-size: 10px !important;
    font-weight: 500;
}

.card-content p {
    /*font-weight: lighter;*/
    margin-top: 10px !important;
    font-weight: 200;
    font-size: 14px;
}

.card {
    box-shadow: none !important;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    /*padding-top: 10px;*/
    /*margin-bottom: 40px !important;*/
}

.card:hover {
    -webkit-box-shadow: 0 7px 7px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2) !important;
    box-shadow: 0 7px 7px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2) !important;
    /*background-color: #e8f5e9;*/
    /*color: #3c8d28;*/
    color: #fff;
}

.line {
    margin-bottom: 70px;
    /*color: #000;*/
    border-top: 1px solid transparent;
}

.contents-color {
    color: #757575;    
}

.contents {
    padding-top: 20px;

    margin-left: 0;
    font-weight: lighter;
}

.paper a {
    color: rgb(85, 26, 139) !important;
}

.part-title {
    margin-bottom: 35px !important;
    /*margin-top: 30px !important;*/
    padding-top: 63px;
}

.more-link {
    /*border-bottom: 3px solid rgb(210,210,210);*/
    background-color: #e8f5e9;
    border-radius: 28px;
    padding: 7px 10px;
}

.hp-part, .footer-copyright {
	/*background-color: #eceff1;*/
	/*background-color: #fafafa;*/
	/*background-color: #efebe9;*/
	background-color: #f7f7f7;
}