.icons {
	cursor: pointer;
	/*color: #fff;*/
	position: fixed;
	left: 0;
	top: 0;
	/*margin-left: 50px;*/
	padding-left: 0px;
	padding-top: 20px;
	padding-bottom: 50px;
    background-color: transparent;
    z-index: 1200;
    overflow-y: auto;
    will-change: transform;
}

.collapse {
	padding-left: 30px;
	color: #3c8d28;
}

.back {
	margin-left: 30px;
	padding-right: 30px;
	color: #3c8d28;
}

.main-page {
	background-color: #f7f7f7;
	padding-left: 0px;
}

.description {
	padding-bottom: 10px !important;
	/*color: #fff;*/
	color: #000;
	/*color: rgb(210,210,210);*/
}

.content-container {
	padding-left: 85px;
	padding-right: 85px;
}

.description .col:first-child {
	padding-left: 55px;
}

.description .col:nth-child(3) {
	padding-left: 35px;
	padding-right: 55px;
}

.description .row {
	/*border-top: 2px solid rgb(210,210,210);*/
	border-top: 1px solid #fff;
	padding-top: 20px;
	margin-bottom: 0px !important;
}

.sm-title {
	font-size: 16px;
	/*font-family: 'Ubuntu', sans-serif;*/
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
}

.sub-title {
	font-size: 20px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	margin-top: 70px;
	margin-bottom: 40px;
	color: #3c8d28;
}

.project-title {
    /*font-family: 'ZCOOL XiaoWei', serif;*/
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    /*color: #3c8d28;*/
    text-shadow: 1px 1px 6px rgb(140,140,140);
}

#gotracker .description {
    background-color: #96CEB4;
} 

#bomix .description {
	background-color: #FF6F69;
}

#haii .description {
    /*background-color: #FFEEAD;*/
    background-color: #FFCC5C;
}

#el .description {
    background-color: #96CEB4;
}

#egia .description {
    background-color: #BF6B84;
}

#pui .description {
    background-color: #AAD8B0;
}