.row {
	margin-bottom: 0 !important;
}

.icons {
	cursor: pointer;
	/*color: #fff;*/
	position: fixed;
	left: 0;
	top: 0;
	/*margin-left: 50px;*/
	padding-left: 0px;
	padding-top: 20px;
	padding-bottom: 50px;
    background-color: transparent;
    z-index: 1200;
    overflow-y: auto;
    will-change: transform;
    text-shadow: 1px 1px 6px rgb(140,140,140);
}

.card-title {
	color: #000 !important;
	font-family: 'Montserrat', sans-serif;
    font-weight: 500 !important;
}

.card {
	box-shadow: none !important;
	border: 4px solid #f7f7f7;
}

.card-image {
	padding-bottom: 40px;
}

.collapse {
	padding-left: 30px;
	/*color: #3c8d28;*/
	color: #fff;
}

.back {
	margin-left: 30px;
	padding-right: 30px;
	/*color: #3c8d28;*/
	color: #fff;
}

.main-page {
	background-color: #f7f7f7;
	padding-left: 0px;
}

.description {
	padding-bottom: 0px !important;
	/*color: #fff;*/
	color: #000;
	/*color: #f7f7f7;*/
	/*color: rgb(210,210,210);*/
}

.content-container {
	padding-left: 85px;
	padding-right: 85px;
}

.notes {
	font-size: 12px;
	color: #757575;
	margin-top: 20px;
}

.description .col:first-child {
	/*padding-left: 15px;*/
}

.description .col:nth-child(3) {
	/*padding-left: 35px;*/
	/*padding-right: 15px;*/
}

.description .col {
	padding-left: 15px;
}

.thinner {
	padding-right: 15px;
}

.description .row {
	/*border-top: 2px solid rgb(210,210,210);*/
	/*border-top: 1px solid #fff;*/
	/*border-top: 1px solid #f7f7f7;*/
	padding-top: 40px;
	padding-bottom: 20px;
	margin-bottom: 0px !important;
	border-bottom: 1px solid #757575;
}

.sm-title {
	font-size: 16px;
	/*font-family: 'Ubuntu', sans-serif;*/
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
}

.title {
	font-size: 20px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	margin-top: 70px;
	margin-bottom: 20px;
	color: #3c8d28;
}

.subtitle {
	font-size: 16px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	margin-top: 40px;
	margin-bottom: 20px;
	padding-left: 10px;
	border-left: 10px solid #757575;
	/*padding-bottom: 20px;*/
}

.subsubtitle {
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	/*font-size: 14px;*/
	padding-top: 30px;
	padding-bottom: 0px;
}

.project-title {
    /*font-family: 'ZCOOL XiaoWei', serif;*/
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    /*color: #3c8d28;*/
    text-shadow: 1px 1px 6px rgb(140,140,140);
}

.left-part {
	padding-right: 20px;
	text-align: justify;
	/*padding-bottom: 20px;*/
	/*margin-top: 20px;*/
}

.right-part {
	padding-left: 20px;
	text-align: justify;
}

.down-part {
	padding-top: 20px;
}

.top-part {
	padding-top: 20px;
	padding-bottom: 20px;
}

.left-part-dec {
	border-right: 1px dashed #757575;
	padding-right: 20px;
	text-align: justify;
	/*padding-bottom: 20px;*/
	/*margin-top: 20px;*/
}

.right-part-dec {
	border-left: 1px dashed #757575;
	padding-left: 20px;
	text-align: justify;
	/*padding-bottom: 20px;*/
	/*margin-top: 20px;*/
}

.down-part-dec {
	border-top: 1px dashed #757575;
	padding-top: 20px;
}

.top-part-dec {
	border-bottom: 1px dashed #757575;
	padding-top: 20px;
	padding-bottom: 20px;
}

.key {
	font-family: 'Saira Semi Condensed', sans-serif;
	font-weight: 700;
	/*font-size: 14px;*/
}

.contents {
	margin-top: 30px;
	/*padding-bottom: 20px;*/
}

.project-image {
	margin-top: 20px;
	margin-bottom: 20px;
	/*padding-left: 20px;*/
	margin-left: auto;
	margin-right: auto;
	/*height: 450px;*/
}

.feature-image {
	height: 300px;
}

.project-image img {
	max-height: 100%;
	max-width: 100%;
	padding-bottom: 20px;
}

.responsive-video {
	margin-bottom: 20px;
}

.video-container {
	margin-top: 20px;
}

.card-tags {
	padding-left: 24px;
	padding-bottom: 20px;
	color: #757575;
}