body {
    /*font-family: 'lgmv';*/
}

a {
    color: #000;
    cursor: pointer;
}

nav {
    line-height: 40px !important;
    height: 40px !important;
    box-shadow: none !important;
    background-color: rgb(220,220,220) !important;
    padding-left: 30px;
}

.icon {
    vertical-align: middle;
    margin-right: 15px;
}

.text-right {
    text-align: right;
}

.title {
    /*padding-top: 10px;*/
    /*padding-bottom: 10px;*/
    font-size: 18px;
    /*color: #626262;*/
    color: #3c8d28;
    text-transform: uppercase;
    margin-bottom: 20px;
    /*font-family: 'Ubuntu', sans-serif;*/
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
}

.photo-note {
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    font-weight: lighter;
}

.left-dec {
    border-left: 3px solid #3c8d28;
    padding-left: 10px;
}

.right-dec {
    border-right: 3px solid #3c8d28;
    padding-right: 10px;
}

.main-page {
    padding-left: 120px;
}

#slide-out {
	width: 120px;
	margin: 0px;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
	height: calc(100% + 60px);
	position: fixed;
    left: 0;
    top: 0;
    margin: 0;
    height: calc(100% + 60px);
    padding-bottom: 60px;
    background-color: #fff;
    z-index: 999;
    overflow-y: auto;
    will-change: transform;
    backface-visibility: hidden;
}

.side-title {
    display: block;
    font-size: 15px;
    /*font-weight: 500;*/
    /*height: 48px;*/
    /*line-height: 48px;*/
    padding-bottom: 15px;
    padding-top: 20px;
    color: #757575;
    /*font-weight: lighter;*/
    /*font-family: 'Ubuntu', sans-serif;*/
    font-family: 'Montserrat', sans-serif;
}

.cv-btn {
    /*color: rgb(140, 140, 140);*/
    color: #3c8d28;
    font-size: 12px;
    /*border: 1px solid rgb(140, 140, 140);*/
    border: 1px solid #3c8d28;
    border-radius: 28px;
    margin: 20px 27px 10px 27px;
    padding: 5px 10px;
    cursor: pointer;
    text-align: center;
    font-weight: 500;
    /*font-family: lgvc;*/
}

.cv-btn:hover {
    background-color: #3c8d28;
    color: #fff;
    /*background-color: rgb(140, 140, 140);*/
    /*background-color: #e8f5e9;*/
    /*border-color: #e8f5e9;*/
    /*color: #fff;*/
    /*color: rgb(140,140,140);*/
    /*color: #3c8d28;*/
}

.aboutme {
    font-family: 'ZCOOL XiaoWei', serif;
    color: #3c8d28;
    font-size: 18px;
}

.aboutme img {
    width: 40%;
    border-radius: 60px;
}

/*.parallax-container {*/
#about {
    /*height: 420px !important;*/
    height: 390px !important;
}

#contact {
    height: 390px !important;
}

#more {
    height: 450px !important;
}

.introduction {
    width: 45%;
    /*padding: 40px 60px 40px 60px;*/
    /*margin-left: 30px;*/
    margin-top: 40px;
    /*border-radius: 28px;*/
    /*-moz-border-radius: 28px; /* Old Firefox */*/
    /*background-color: rgba(255,255,255,0.4);*/
}

#about p {
    font-size: 12px;
    font-family: "Roboto", sans-serif;
    font-weight: lighter;
    background-color: transparent;
    color: #fff;
    /*text-align: justify;*/
    /*color: #757575;*/
}


.tags {
    display: inline;
    overflow: visible;
    border: 1px solid rgb(220,220,220);
    border-radius: 28px;
    float: right;
}

.tag {
    color: #757575;
    display: inline-block;
    font-weight: lighter;
    font-size: 12px;
    border-radius: 28px;
    cursor: pointer;
    padding: 1px 0px;
    width: 70px;
    text-align: center;
    /*line-height: 15px;*/
}

.tags .active {
    background-color: rgb(140,140,140);
    border: 1px solid rgb(140,140,140);
    color: #fff;
    height: 100%;
}

.tag:hover {
    background-color: rgb(220,220,220);
    border: 1px solid rgb(220,220,220);
    color: #fff;
}

.projects .col {
    padding-right: 35px;
}

.card-content {
    /*border-top: 1px solid rgb(98,98,98);*/
    /*border-bottom: 1px solid rgb(98,98,98);*/
}

.card-content p {
    font-weight: lighter;
    font-size: 12px;
}

.projects .btn-floating {
    /*background-color: #3c8d28;*/
    background-color: #e8f5e9;
}

.card {
    box-shadow: none !important;
    cursor: pointer;
    /*font-family: 'Ubuntu', sans-serif;*/
    font-family: 'Montserrat', sans-serif;
    padding-top: 10px;
    margin-bottom: 40px !important;
}

.card:hover {
    -webkit-box-shadow: 0 7px 7px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2) !important;
    box-shadow: 0 7px 7px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2) !important;
    /*background-color: #e8f5e9;*/
    /*color: #3c8d28;*/
    color: #fff;
}

.card-image {
    margin-left: 10px;
    margin-right: 10px;
}

.contents a {
    color: #757575 !important;
}

.more-link {
    /*border-bottom: 3px solid rgb(220,220,220);*/
    background-color: #e8f5e9;
    border-radius: 28px;
    padding: 7px 10px;
}

.more-link:hover {
    background-color: #3c8d28;
    color: #fff !important;
}

.part-title {
    margin-bottom: 35px !important;
    margin-top: 30px !important;
    padding-top: 50px;
}